.backgroundVideo {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment to top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  z-index: -1;
  overflow: hidden; /* Hide overflowing content */
}

.backgroundIframe {
  width: 100%;
  height: 650px;
  object-fit: cover; /* Ensure the iframe covers its container without distortion */
  position: relative;
  border-radius: 15px; /* Add rounded corners */
}
.backgroundIframe iframe {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 650px;
  object-fit: cover; /* Ensure the iframe covers its container without distortion */
}
.overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
