/* ./styles/Coming.module.css */
.content-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100vh;
  background: #0006;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timing {
  font-size: 40px;
}

.content h2 {
  font-size: 100px;
  font-weight: 900;
  margin: 10px;
  font-family: 'bebas neue';
}

.content a {
  text-decoration: none;
  background: #fff;
  color: #111;
  padding: 10px 35px;
  border-radius: 50px;
}

.content p {
  margin: 0 auto;
  width: 35%;
  text-align: center;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
  line-height: 1.9;
  padding: 15px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .content p {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .content h2 {
    font-size: 40px;
  }
  .timing {
    font-size: 25px;
  }
  .content p {
    width: 95%;
  }
}
