
.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
}

.iframeContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (modify as per your iframe aspect ratio) */
  height: 0;
  overflow: hidden;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Change the background color and opacity as needed */
}

/* Styles for landscape orientation */
@media screen and (orientation: landscape) {
  /* Add your landscape styles here */
}

/* Styles for portrait orientation */
@media screen and (orientation: portrait) {
  /* Add your portrait styles here */
}
@media (max-width: 768px) {
  /* CSS styles for screens with a maximum width of 768px */
  @media screen and (max-width: 600px) {
    /* your CSS styles for smaller screens */
    
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    /* your CSS styles for medium-sized screens */
  }
  @media screen and (min-width: 1200px) {
    /* your CSS styles for larger screens */
  }
  @media (max-device-width: 768px) {
    /* your CSS styles for smaller devices */
  }
  @media (min-device-width: 1024px) {
    /* your CSS styles for larger devices */
  }
  @media (orientation: landscape) {
    /* your CSS styles for landscape mode */
  }
}